name: Performance Tests

on: [push, pull_request]

jobs:
  performance:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest requests flask

      - name: Start Flask and Run Performance Tests
        run: |
          # Dodajemy bieżący katalog do ścieżki Pythona
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          
          # Uruchamiamy aplikację
          python app/api.py &
          
          # Czekamy na start
          sleep 10
          
          # Uruchamiamy testy wydajnościowe
          python -m pytest tests/perf