name: API Performance
on: [push, pull_request]

jobs:
  performance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          npm install -g wait-on

      - name: Start flask
        run: |
          export PYTHONPATH=$PWD
          export FLASK_APP=app/api.py
          python3 -m flask run --host=127.0.0.1 --port=5000 > flask.log 2>&1 &
          echo "Flask starting..."
          npx wait-on tcp:127.0.0.1:5000 --timeout 30000

      - name: Show Flask Logs (if failed start)
        if: failure()
        run: cat flask.log

      - name: Execute Performance tests
        run: |
          export PYTHONPATH=$PWD
          python3 -m pytest tests/perf