name: Python application

on:
  push:
    branches: [ "main", "master", "feature*" ]
  pull_request:
    branches: [ "main", "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest requests flask
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
    - name: Start Flask Server
      run: |
        # Ustawiamy ścieżkę, żeby Python widział folder src/
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        
        # Uruchamiamy serwer w tle (nohup) i zapisujemy logi do pliku
        nohup python app/api.py > flask_log.txt 2>&1 &
        
        # Czekamy 10 sekund aż wstanie
        sleep 10
        
        # Wyświetlamy logi dla pewności (żebyś widział w konsoli czy działa)
        cat flask_log.txt

    - name: Test with pytest
      run: |
        pytest